@use "../abstract/variable" as var;

.color-anim{
    transition: 500ms;
  animation: color-change 10s infinite;

}

.text-uppercase{
  text-transform: uppercase;

}
.line{
  background: linear-gradient(to right, #e24997, #2d2ed4);
  width: 6rem;
  height: 0.5rem;
  border-radius: 6px;
  margin: 30px auto;


}

.img-responsive{
  max-width: 100%;
  height: auto;
}

// .video{
//   max-width: 100%;
//   height: auto;
// }