.about-area{
    background-color: #3f43fd ;
    padding: 8rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;

    @media only screen and (max-width: 576px) {

        padding: 4rem 2rem;
      // background-color: red;
      flex-direction: column;
    margin-top: 0;
    // align-items: center;
        }

        @media only screen and (min-width: 576px) {

            padding: 4rem 2rem;
          // background-color: red;
          flex-direction: column;
        margin-top: 0;

        // align-items: center;
            }

            @media only screen and (min-width: 992px) {

            
                flex-direction: row;
                align-items: center;
                padding: 8rem 6rem;
                margin-top: 0;

        
            }

            @media only screen and (min-width: 1200px) {

            
                // flex-direction: row;
                // align-items: center;
                padding: 8rem 15rem;
                // margin-top: 0;

        
            }
    
    &--img{
        width: 32rem;

        @media only screen and (min-width: 576px) {

           width: 20rem;
            }

            @media only screen and (min-width: 992px) {

                width: 66rem;
                align-items: center;
                 }
                 @media only screen and (min-width: 1200px) {

                    width: 100rem;
                    // align-items: center;
                     }

    }

    &--contents{
        color: #fff;

        @media only screen and (max-width: 576px) {
            margin: 0;
       
        } 
        @media only screen and (min-width: 576px) {
            margin: 0;
       
        } 

        h2{
            font-size: 3rem;

            @media only screen and (max-width: 576px) {

                font-size: 1.5rem;

    
            }

            @media only screen and (min-width: 576px) {

                font-size: 1.5rem;

    
            }

        }
        p{
            line-height: 2;
            color: #cfcfcf;
            padding:none;


            @media only screen and (max-width: 576px) {

            font-size: 0.9rem;
    
            }

            @media only screen and (min-width: 576px) {

                font-size: 0.9rem;
        
                }

                @media only screen and (min-width: 992px) {

                    font-size: 0.9rem;
                   
                    }
        }

    }
}