.about-area{
    background-color: #3f43fd ;
    padding: 8rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;

    @media only screen and (max-width: 576px) {

        padding: 4rem 2rem;
      // background-color: red;
      flex-direction: column;
    margin-top: 0;
    align-items: center;
        }
    
    &--img{
        width: 32rem;

    }

    &--contents{
        color: #fff;

        @media only screen and (max-width: 576px) {
            margin: 0;
       
        } 

        h2{
            font-size: 3rem;

            @media only screen and (max-width: 576px) {

                font-size: 1.5rem;

    
            }

        }
        p{
            line-height: 2;
            color: #cfcfcf;
            padding-right: 2rem;

            @media only screen and (max-width: 576px) {

            font-size: 0.9rem;
    
            }
        }

    }
}