.hero-area{
    padding: 8rem 20rem;
    display: flex;

    justify-content: space-around;
    align-items: center;
    
    &--contents{
        max-width: 25rem;
        // justify-content: space-betw;
    }
    
    &--title{
        font-size: 14px;
        font-weight: 600;
    }
    &--desc{
        margin-top: 2rem;
        font-size: 1.2rem;
        line-height: 1.8;
        color: grey;
    }
}