.hero-area{
    padding: 8rem 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: 576px) {

        padding: 4rem 2rem;
      // background-color: red;
      flex-direction: column;
    
    
        }

        @media only screen and (min-width: 576px) {

            padding: 4rem 2rem;
          // background-color: red;
          flex-direction: column;
        
        
            }

            @media only screen and (min-width: 768px) {

                padding: 4rem 2rem;
              // background-color: red;
              flex-direction: column;
            
            
                }

                @media only screen and (min-width: 992px) {

                    padding: 8rem 6rem;
                  // background-color: red;
                  flex-direction: row;
                
                
                    }
                    @media only screen and (min-width: 1200px) {

                        padding: 8rem 15rem;
                      // background-color: red;
                      flex-direction: row;
                      justify-content: space-between;
                    
                    
                        }

                        @media only screen and (min-width: 1400px) {

                            padding: 8rem 20rem;
                          // background-color: red;
                        //   flex-direction: row;
                          justify-content: space-around;
                        
                        
                            }


            img{
                @media only screen and (min-width: 576px) {

                  width: 25rem;
                
                
                    }

                    @media only screen and (min-width: 1400px) {

                        width: 45rem;
                      
                      
                          }


            }

    
    
    &--contents{
        max-width: 25rem;
        // justify-content: space-betw;

        @media only screen and (min-width: 992px) {

            
            max-width: 25rem;
        
            }

    }
    
    &--title{
        font-size: 3rem;
        font-weight: 600;

        @media only screen and (max-width: 576px) {

       font-size: 2rem;

    
        }
        @media only screen and (min-width: 576px) {

            font-size: 1.3rem;
     
         
             }

             @media only screen and (min-width: 992px) {

            
                font-size: 2rem;
        
            }

            @media only screen and (min-width: 1200px) {

            
                font-size: 2.5rem;
        
            }
            @media only screen and (min-width: 1400px) {

            
                font-size: 3rem;
        
            }


    }

    & > span{
        font-size: 1.5rem;
        // font-weight: ;

        @media only screen and (min-width: 1400px) {

            font-size: 3rem;
        
        
            }

    }

    &--subtitle{
        @media only screen and (max-width: 576px) {
            font-size: 0.7rem;
       
        } 
    }
    &--desc{
        margin-top: 2rem;
        font-size: 1.2rem;
        line-height: 1.8;
        color: grey;

        @media only screen and (max-width: 576px) {

       font-size: 0.9rem;

    
        }

        @media only screen and (min-width: 576px) {

            font-size: 0.9rem;
     
         
             }

             @media only screen and (min-width: 992px) {

            font-size: 1rem;
        
        
            }

            @media only screen and (min-width: 1400px) {

                font-size: 1.2rem;
            
            
                }
    }
}