* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fa-code{
    font-size: 2rem;
    
}
.grid{
    display: grid;
    gap: 1.5rem;
}

.container {
    max-width: 768px;
    // margin-left: var(--mb-1-5);
    // margin-right: var(--mb-1-5);
}


.section{
    //  color: red;
     padding: 2rem 0 4rem;

     @media only screen and (max-width: 576px) {

        margin-top: 0;
    } 

    @media only screen and (min-width: 576px) {

        margin-top: 0;
    } 

     h2 {
        display: block;
        font-size: 2rem;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;

        @media only screen and (max-width: 576px) {
            font-size: 1.5rem;
       
        } 
    }

     &__title{
    text-align: center;
     }

     &__subtitle{
         text-align: center;
         margin-bottom: 4rem;

         @media only screen and (max-width: 576px) {
            font-size: 0.8rem;
       
        } 
        @media only screen and (min-width: 576px) {
            font-size: 0.8rem;
       
        } 
     }
}

.skills{
    background: white;
    // display: flex;


    @media only screen and (max-width: 576px) {

     padding: 0rem 2rem; 
    //  margin-top: -50;
    align-items: center;
    }

    @media only screen and (min-width: 576px) {

        padding: 0rem 2rem; 
       //  margin-top: -50;
       align-items: center;
       }

       @media only screen and (min-width: 992px) {

        padding: 8rem 15rem; 
       //  margin-top: -50;
       align-items: center;
       }

       @media only screen and (min-width: 1200px) {

        padding: 8rem 10rem; 
       //  margin-top: -50;
       align-items: center;
       }

    &__container{
        row-gap: 0;

    
    }


    

  

    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 2.5px;
        cursor: pointer;

        
    
           
        

        
    }
    &__brace{
        margin-right: 30px;
        color: #57e0be;
    }

    &__server{
        margin-right: 30px;
        font-size: 2rem;
        color: #57e0be;
    }

    &__title{
        font-weight: 600;
        font-size: 1.5rem;
        @media only screen and (max-width: 576px) {
            font-size: 1rem;
       
        } 

        @media only screen and (min-width: 576px) {
            font-size: 1rem;
       
        } 

        @media only screen and (min-width: 1200px) {
            font-size: 1.5rem;
       
        } 
        
    }

    &__subtitle{
        @media only screen and (max-width: 576px) {

       font-size: 0.7rem;
        } 

        @media only screen and (min-width: 576px) {

            font-size: 0.7rem;
             }
             
             @media only screen and (min-width: 1200px) {

                font-size: 1rem;
                 }
    }
   

    

    &__arrow{
        margin-left: auto;
        color: #57e0be;
        font-size: 1.5rem;
    }

    
        
    &__open,&__list{
    height: max-content;
    margin-bottom: 30px
}



    
    &__titles {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        @media only screen and (max-width: 576px) {
            font-size: 0.8rem;
       
        } 

        @media only screen and (min-width: 576px) {
            font-size: 0.8rem;
       
        } 
        
    }

    &__bar{
        background-color: #b6fcea;
        height: 5px;
        border-radius: 0.25rem;

    }

    &__percentage{
        display: block;
        background-color:  #57e0be;
        height: 5px;
        border-radius: 0.25rem;
    }

    &__html{
        width: 95%;
    }

    &__css{

    width: 80%;
    }

    &__js{

        width: 85%;
        }
    &__react{
        width: 85%;
    }
    &__angular{

        width: 85%;
        }

    &__data{
        padding: 1rem;

    }

    &__php{
        width: 80%;
    }
&__firebase{
    width: 80%;
}

&__python{
    width: 86%;
}
        
}

#btn,#btn_2{
    padding: 1rem;


}
#list,#list_2{
    padding: 1rem;



}




.iframe-area{


    background-color: #3f43fd ;
    padding: 8rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;

    @media only screen and (max-width: 576px) {

      padding: 4rem 2rem;
      margin-top: 0;
      flex-direction: column;
    //   margin: 0;
    //   text-align: center;
    //   margin-right: 1rem;
    
    }

    @media only screen and (min-width: 576px) {

        padding: 4rem 2rem;
        margin-top: 0;
        flex-direction: column;
      //   margin: 0;
      //   text-align: center;
      //   margin-right: 1rem;
      
      }

      @media only screen and (min-width: 992px) {

        padding: 8rem 6rem;
        // margin-top: 2rem;
        align-items: center;
        flex-direction: row;
      //   margin: 0;
      //   text-align: center;
      //   margin-right: 1rem;

      
      }

      @media only screen and (min-width: 1200px) {

            
        // flex-direction: row;
        // align-items: center;
        padding: 8rem 15rem;
        // margin-top: 0;


    }
    &--img{
        width: 32rem;

        @media only screen and (min-width: 576px) {

            width: 20rem;
             }
 
             @media only screen and (min-width: 992px) {
 
                 width: 66rem;
                 align-items: center;
                  }

                  @media only screen and (min-width: 1200px) {

                    width: 100rem;
                    // align-items: center;
                     }
 

    }

    &--contents{
        color: #fff;

        @media only screen and (max-width: 576px) {
            margin: 0;
       
        } 
        @media only screen and (min-width: 576px) {
            margin: 0;
       
        } 


        h2{
            font-size: 3rem;
            
    @media only screen and (max-width: 576px) {
        font-size: 1.5rem;

    } 
        @media only screen and (min-width: 576px) {

            font-size: 1.5rem;

           

        }
        @media only screen and (min-width: 992px) {

            font-size: 1.5rem;

       
      

        }
    }
        p{
            line-height: 2;
            color: #cfcfcf;
            padding-right: 2rem;

            @media only screen and (max-width: 576px) {

                font-size: 0.9rem;
                // padding: 1rem 2rem;
            } 

            @media only screen and (min-width: 576px) {

                font-size: 0.9rem;
                // padding: 1rem 2rem;
            } 
        }
        }

    

    .video{

        
        @media only screen and (max-width: 576px) {
        //   width: 20rem;
        // display:none;

        max-width: 100%;
        height: auto;
        // padding-bottom: 30.25%;
        position: relative;
        

       
           
        } 

        @media only screen and (min-width: 992px) {
            max-width: 100% ;
            width: 60rem;
            height: auto;
         //    margin-left: 10rem;
            
         } 
      

       
    }

}
